/* Estilos cuerpo de pagina, colores */
body {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
}

/* Estilos cuerpo fuente de las letras */
body {
    font-family: 'Raleway';
}

/* Estilo del enlace */
a {
    color: #ffffff;
    font: normal normal 300 20px/24px Raleway;
}

/* Estilos del encabezado */
header {
    justify-content: center;
    align-items: center;
    font: normal normal medium 50px/59px Raleway;
    height: 73px;
}

/* Estilo de la seccion principal */
.desc-seccion {
    display: flex;
}

/* Color del marco de la seccion al apuntarlo */
.desc-seccion:hover {
    border: 2px solid blue;
}

/* Estilos seccion con la desccripcion */
.desc-seccion img {
    width: 100%;
    height: auto;
}

.desc-seccion > div {
    flex: 1;
    padding: 45px 150px 66px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: normal normal 300 16px/19px Raleway;
}

/* Estilos seccion Caracteristicas */
#caracteristicas {
    background-color: #1e1a13;
    height: 348px;
    padding: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font: normal normal medium 40px/47px Raleway;
}

.icon_seccion ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display:flex;
    justify-content: space-between;
}

.icon_seccion li {
    margin-left: 326px;
    text-align: center;
    font: normal normal 300 25px/30px Raleway;
}

/* Establecer el tamaño de los iconos */
.icon_seccion li i {
    font-size: 200%;
}

/* Aplicar margen solo al ultimo elemento de la lista */
.icon_seccion li:last-child {
    margin-right: 265px;
}

/* Añadir espacio entre el icono y el texto */
.icon_seccion li i {
    margin-bottom: 16px;
}

.icon_seccion li p {
    margin-top: 16px;
}

/* Estilos seccion fotos */
#fotos {
    display: flex;
    height: auto;
    padding: 73px 150px;
}

#fotos img {
    margin: 0 16px;
    width: 30%;
    height: auto;
}

/* Estilos del pie de pagina */
footer.desc-seccion {
    background-color: #1e1a13;
    justify-content: center;
    align-items: center;
    font: normal normal 300 20px/24px Raleway;
    height: 102px;
}